
# dependencies
/node_modules
/.pnp
.pnp.js

/dist
/mysql

/migrations/*
/public/upload
# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.production


